openapi: 3.2.0
info:
  title: IBANforge Swiss Clearing API
  version: 1.8.0
  description: IBANforge checks the bank behind an IBAN before you pay.
  contact:
    name: IBANforge support
    url: https://github.com/cammac-creator/ibanforge/issues
    email: support@ibanforge.com
servers:
- url: https://api.ibanforge.com
  description: Production
- url: http://localhost:3000
  description: Local development
tags:
- name: Swiss Clearing
  description: Swiss BC-Nummer / IID clearing lookup (paid via x402)
paths:
  /v1/ch/clearing/{iid}:
    get:
      operationId: lookupChClearing
      summary: Swiss BC-Nummer / IID clearing lookup
      description: Returns institution details, payment service participation (SIC, euroSIC, Instant Payments CHF), and QR-IID allocation for a Swiss BC-Nummer (IID). Costs 0.003 USDC via x402.
      tags:
      - Swiss Clearing
      security:
      - x402Payment: []
      - apiKey: []
      parameters:
      - name: iid
        in: path
        required: true
        description: Swiss BC-Nummer / IID (1-5 digits, zero-padded to 5)
        schema:
          type: string
          pattern: ^\d{1,5}$
          example: '230'
      responses:
        '200':
          description: Clearing lookup result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChClearingResult'
        '400':
          description: Invalid IID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment required (x402)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      required:
      - error
      - message
      additionalProperties: true
      properties:
        error:
          type: string
          description: 'Stable machine-readable token in snake_case, e.g. "invalid_json", "invalid_request", "batch_too_large", "payment_required", "payload_too_large", "rate_limit_exceeded". Branch on this, never on `message`. An invalid IBAN is not an ApiError: validation answers 200 with `valid: false`.'
          example: batch_too_large
        message:
          type: string
          description: Human-readable sentence explaining the failure. Wording may change; the token above will not.
          example: Maximum 100 IBANs per batch request
    ChClearingResult:
      type: object
      required:
      - iid
      - found
      properties:
        attribution:
          type: object
          description: Free tier only. When these results are shown to people, display `text` with a link to `url`; backend-only use owes nothing. Absent on paid plans and on x402 calls.
          required:
          - required
          - text
          - url
          - note
          properties:
            required:
              type: boolean
              enum:
              - true
            text:
              type: string
              example: Powered by IBANforge
            url:
              type: string
              format: uri
            note:
              type: string
        iid:
          type: string
          example: '00230'
          description: Zero-padded 5-digit IID
        found:
          type: boolean
        institution:
          type: object
          properties:
            name:
              type: string
              example: UBS Switzerland AG
            type:
              type: string
              enum:
              - bank
              - cantonal_bank
              - postfinance
              - raiffeisen
              - central_bank
              - foreign_participant
            iid_type:
              type: string
              enum:
              - headquarters
              - branch
              - other
            headquarters_iid:
              type:
              - string
              - 'null'
        address:
          type: object
          properties:
            street:
              type:
              - string
              - 'null'
            building_number:
              type:
              - string
              - 'null'
            post_code:
              type:
              - string
              - 'null'
            town:
              type:
              - string
              - 'null'
            country:
              type: string
              example: CH
        bic:
          type:
          - string
          - 'null'
          example: UBSWCHZH80A
        payment_services:
          type: object
          properties:
            sic:
              type: boolean
              description: SIC (Swiss Interbank Clearing) participation
            rtgs_chf:
              type: boolean
              description: Real-Time Gross Settlement CHF
            instant_payments_chf:
              type: boolean
              description: Instant Payments CHF
            eurosic:
              type: boolean
              description: euroSIC participation
            lsv_bdd_chf:
              type: boolean
              description: LSV/BDD CHF direct debit
            lsv_bdd_eur:
              type: boolean
              description: LSV/BDD EUR direct debit
        sic_iid:
          type:
          - string
          - 'null'
        qr_iid:
          type:
          - string
          - 'null'
          description: QR-IID for QR-bill payments
        qr_iid_source:
          type:
          - string
          - 'null'
          example: register
          description: 'Where `qr_iid` comes from: "register" when the SIX register allocates it to this institution, otherwise the basis used. Null when there is no QR-IID.'
        qr_iids:
          type: array
          items:
            type: string
          example:
          - '30005'
          - '30308'
          description: Every QR-IID allocated to this institution, in register order. `qr_iid` is the first of them; an institution may legitimately hold several.
        valid_on:
          type: string
          format: date
        cost_usdc:
          type: number
          example: 0.003
        processing_ms:
          type: number
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: x402 USDC micropayment signature (protocol v2). Clients holding v1 payment requirements may send the same signature as X-Payment; both are accepted.
    apiKey:
      type: http
      scheme: bearer
      description: API key (Bearer ifk_xxx) — 25 free requests/month without an email address, 200 a month once claimed, or a custom quota for paid keys
    accountSession:
      type: apiKey
      in: cookie
      name: ibanforge_account
      description: 'Session of the account page, set by POST /v1/account/session: HttpOnly, Secure, SameSite=Strict, Path=/v1/account, 7 days from sign-in. Read-only: it opens no paid route and no route that acts on a key.'
externalDocs:
  description: Agent-oriented overview (llms.txt) with copy-paste examples
  url: https://api.ibanforge.com/llms.txt
