openapi: 3.2.0
info:
  title: IBANforge Free API
  version: 1.8.0
  description: IBANforge checks the bank behind an IBAN before you pay.
  contact:
    name: IBANforge support
    url: https://github.com/cammac-creator/ibanforge/issues
    email: support@ibanforge.com
servers:
- url: https://api.ibanforge.com
  description: Production
- url: http://localhost:3000
  description: Local development
tags:
- name: Free
  description: Free endpoints — no payment required
paths:
  /v1/iban/format:
    get:
      operationId: formatCheckIBAN
      summary: Free IBAN format check (mod-97 + structure)
      description: 'FREE pure-format IBAN check: ISO 13616 mod-97 checksum, country-specific length, and BBAN parsing. No payment, no API key, no quota (global rate limit only). `valid: true` here means well formed and nothing more: this route does NOT touch the BIC, SEPA, VoP or Swiss clearing data, and does not say whether the bank code is allocated. Use POST /v1/iban/validate ($0.005) for that. Spaces and hyphens are removed before the length is measured, so an IBAN written in groups of four is accepted as printed. Also answers POST with the JSON body `{"iban": "..."}`. Ideal for pre-filtering malformed IBANs before paying for validation.'
      tags:
      - Free
      security: []
      parameters:
      - name: iban
        in: query
        required: true
        description: IBAN to check. Spaces and hyphens are allowed and removed before the length is measured (15 to 34 characters once removed; at most 64 as sent).
        schema:
          type: string
          minLength: 15
          maxLength: 64
          example: CH1000230000000012345
      responses:
        '200':
          description: Format check result. valid=true includes parsed components; valid=false includes error + error_detail. Both include an upgrade_to_full_validation hint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IBANFormatResult'
        '400':
          description: '`missing_iban` (no ?iban= query parameter), or `invalid_iban_length` (fewer than 15 or more than 34 characters once spaces and hyphens are removed, or more than 64 as sent)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/ch/qr-bill/check:
    post:
      operationId: checkSwissQrBill
      summary: Free Swiss QR-bill payload check (structured vs combined address)
      description: 'FREE rule check of the text inside a Swiss QR-bill code (the Swiss Payments Code, 31 positional lines from SPC to EPD): header and version, creditor IBAN and QR-IBAN range (IID 30000-31999), QRR/SCOR/NON reference checksum and its pairing with the IBAN, amount, currency, ultimate creditor left empty, and whether the creditor and ultimate debtor addresses are structured (type S) or still combined (type K). Type K was removed from the standard on 21.11.2025; from 14.11.2026 banks no longer process standing orders and payment templates built on it. A combined address comes back with proposed_structured, the S-type fields derived from the combined lines. Pure rule evaluation, no database: the bank behind the IBAN is the job of POST /v1/iban/validate.'
      tags:
      - Free
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - payload
              properties:
                payload:
                  type: string
                  maxLength: 4000
                  description: The Swiss QR Code text with real line breaks (SPC ... EPD, then optional billing information and up to two alternative schemes).
            example:
              payload: 'SPC

                0200

                1

                CH4431999123000889012

                S

                Robert Schneider AG

                Rue du Lac

                1268

                2501

                Biel

                CH








                1949.75

                CHF

                S

                Pia Rutschmann

                Marktgasse

                28

                9400

                Rorschach

                CH

                QRR

                210000000003139471430009017

                Order 15.06.2026

                EPD'
      responses:
        '200':
          description: 'The verdict: valid, ready_for_2026_11_14, creditor_iban, creditor, ultimate_debtor, reference, findings (code, severity, field, detail, source), next_steps, source.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  ready_for_2026_11_14:
                    type: boolean
                    description: valid and every present address is structured (type S).
                  creditor_iban:
                    type: object
                    additionalProperties: true
                  creditor:
                    type: object
                    additionalProperties: true
                  ultimate_debtor:
                    type: object
                    additionalProperties: true
                  reference:
                    type: object
                    additionalProperties: true
                  findings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        severity:
                          type: string
                          enum:
                          - error
                          - warning
                        field:
                          type: string
                        detail:
                          type: string
                        source:
                          type: string
                  next_steps:
                    type: array
                    items:
                      type: string
                  source:
                    type: string
                additionalProperties: true
        '400':
          description: invalid_json or invalid_payload, with an example payload in the body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Request body exceeds 256 KB. Applied globally to every operation that takes a body, before routing and before payment, so nothing is charged. Split the input (batch validation accepts up to 100 IBANs per call).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/address/check:
    post:
      operationId: checkPostalAddress
      summary: Free ISO 20022 postal-address conformity check
      description: 'FREE rule check on a postal address YOU have already structured, for the November 2026 structured-address deadlines (SPS 2026 in force 14 Nov 2026, last SIC release accepting unstructured addresses 20 Nov 2026, Fedwire production 16 Nov 2026, T2 R2026.NOV). Pure rule evaluation — it reads no database, which is why it is free. Every finding names the document the rule comes from, with its date. Schemes: sps, hvps_plus, fedwire. No ''cbpr+'' scheme is offered, on purpose. The CBPR+ usage guideline and the PMPG "November 2026 postal address guidance" are published on swift.com, which was unreachable on 26.08.2026 (iso20022.org likewise; europeanpaymentscouncil.eu returns 403 on its document library). Every rule applied here is quoted from a document that was actually read, and each finding names it. A boolean claiming CBPR+ conformity would be a guess dressed as a verdict. Dates, as of 02.09.2026: on 27 August 2026 Swift deferred all payments changes of its November 2026 Standards Release, the retirement of unstructured addresses included, with an update promised by December 2026 at the latest; SIX (14.11.2026), the Eurosystem T2 R2026.NOV and the EPC rulebooks (15.11.2026) were unchanged on that day; Fedwire moved to November 2027; the Bank of England expects a twelve-month deferral, subject to confirmation. See ibanforge.com/blog/2026-09-02-which-date-structured-addresses. It does NOT parse or normalise a free-text address into a structured one — that needs national postal reference data we do not hold.'
      tags:
      - Free
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - scheme
              - address
              properties:
                scheme:
                  type: string
                  enum:
                  - sps
                  - hvps_plus
                  - fedwire
                  description: The payment scheme whose rules to apply. 'hvps+' is accepted as a spelling of 'hvps_plus'. 'cbpr+' is refused with an explanation rather than answered with a guess.
                  example: sps
                address:
                  type: object
                  additionalProperties: false
                  description: The ISO 20022 PostalAddress elements you intend to send, in ISO tag vocabulary. An unknown property is rejected rather than ignored, so a caller who writes `town` instead of `twn_nm` is told rather than handed a green verdict on an address nobody looked at.
                  properties:
                    twn_nm:
                      type: string
                      example: Zurich
                    ctry:
                      type: string
                      example: CH
                    pst_cd:
                      type: string
                      example: '8001'
                    strt_nm:
                      type: string
                      example: Bahnhofstrasse
                    bldg_nb:
                      type: string
                      example: '45'
                    adr_tp:
                      type: string
                      description: Address Type. Forbidden by SPS ("N — Must not be sent").
                    adr_line:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Conformity verdict. One finding per rule evaluated, passing or failing, so a caller can see what was checked and not only what broke.
          content:
            application/json:
              schema:
                type: object
                required:
                - scheme
                - conforms
                - findings
                - note
                properties:
                  scheme:
                    type: string
                    enum:
                    - sps
                    - hvps_plus
                    - fedwire
                  conforms:
                    type: boolean
                    description: True when no finding failed. Rules that did not apply do not count against it.
                  findings:
                    type: array
                    items:
                      type: object
                      required:
                      - rule
                      - verdict
                      - detail
                      - source
                      properties:
                        rule:
                          type: string
                          example: adr_line_no_repeat
                        verdict:
                          type: string
                          enum:
                          - pass
                          - fail
                          - not_applicable
                          description: not_applicable marks a rule whose precondition is not met — an AdrLine rule on an address with no AdrLine. It is a real answer, not a polite pass.
                        detail:
                          type: string
                        source:
                          type: string
                          description: The document the rule comes from, with its date.
                  note:
                    type: string
                    description: Why no cbpr+ scheme is offered. Served on every answer.
        '400':
          description: Malformed body, unknown address element, unknown scheme, or scheme 'cbpr+' — which is refused with the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Request body exceeds 256 KB. Applied globally to every operation that takes a body, before routing and before payment, so nothing is charged. Split the input (batch validation accepts up to 100 IBANs per call).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/reference/validate:
    get:
      operationId: validatePaymentReference
      summary: Free structured payment reference check
      description: 'FREE checksum validation for structured payment references: RF Creditor Reference (ISO 11649, "SCOR" in Swiss Payment Standards, mod 97-10), Swiss QR reference ("QRR", 27 digits, modulo 10 recursive), Belgian OGM/VCS (12 digits, modulo 97 with a remainder of 0 written 97) and Finnish viitenumero (4-20 digits, weights 7-3-1 from the right). Norwegian KID and Swedish OCR are RECOGNISED but answer `valid: null` with `status: unverifiable_without_creditor_config` — their modulus type and length are configured per creditor account by the beneficiary bank, so no generic checker can judge them and answering `false` would reject valid references. Every answer that names a scheme carries the document publishing the rule and its date. For the PAIRING verdict — whether a reference may legally travel with a given IBAN — use POST /v1/iban/validate with a `reference` field.'
      tags:
      - Free
      security: []
      parameters:
      - name: reference
        in: query
        required: true
        description: Reference as printed. Spaces, slashes and the Belgian +++…+++ wrapper are stripped.
        schema:
          type: string
          minLength: 4
          maxLength: 64
          example: RF18539007547034
      - name: reference_type
        in: query
        required: false
        description: Optional scheme hint, used when the string alone is ambiguous — a bare 12-digit string is both a Belgian OGM and a legal Finnish length. If it contradicts the string, the answer judges as asked and says so in `note`.
        schema:
          type: string
          enum:
          - rf
          - scor
          - qrr
          - ogm
          - vcs
          - viitenumero
          - kid
          - ocr
      responses:
        '200':
          description: Reference verdict. `valid` is true, false, or null when the scheme cannot be checked without the creditor bank configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentReferenceResult'
        '400':
          description: Missing ?reference= query parameter, or shorter than 4 / longer than 64 characters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: validatePaymentReferencePost
      summary: Free structured payment reference check (JSON body)
      description: Same contract as the GET, with the reference in a JSON body — convenient for references carrying characters awkward to url-encode.
      tags:
      - Free
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reference
              properties:
                reference:
                  type: string
                  minLength: 4
                  maxLength: 64
                  example: +++010/8068/17183+++
                reference_type:
                  type: string
                  enum:
                  - rf
                  - scor
                  - qrr
                  - ogm
                  - vcs
                  - viitenumero
                  - kid
                  - ocr
      responses:
        '200':
          description: Reference verdict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentReferenceResult'
        '400':
          description: Missing reference, or malformed JSON body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Request body exceeds 256 KB. Applied globally to every operation that takes a body, before routing and before payment, so nothing is charged. Split the input (batch validation accepts up to 100 IBANs per call).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/iban/structure:
    get:
      operationId: listIBANStructures
      summary: List all supported IBAN countries (free)
      description: 'FREE metadata endpoint: lists every supported IBAN country with its IBAN length, SEPA membership, and whether a BBAN structure breakdown and example IBAN are available. Use GET /v1/iban/structure/{country} for the full per-country template.'
      tags:
      - Free
      security: []
      responses:
        '200':
          description: List of supported countries
          content:
            application/json:
              schema:
                type: object
                required:
                - total
                - countries
                properties:
                  total:
                    type: integer
                    description: Number of supported IBAN countries
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: CH
                        name:
                          type: string
                          example: Switzerland
                        iban_length:
                          type: integer
                          example: 21
                        sepa_member:
                          type: boolean
                        has_bban_structure:
                          type: boolean
                        has_example:
                          type: boolean
                  endpoint_per_country:
                    type: string
                    example: GET /v1/iban/structure/:country
                  cost_usdc:
                    type: number
                    example: 0
        '429':
          description: Rate limit exceeded. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/iban/structure/{country}:
    get:
      operationId: getIBANStructure
      summary: IBAN structure template for a country (free)
      description: 'FREE metadata endpoint: returns the IBAN structural template for a country — total IBAN length, BBAN field positions (bank code / branch code / account number, 0-indexed within the BBAN), SEPA membership + schemes + VoP obligation, and a canonical example IBAN to copy-paste. Use it when an agent needs to know the IBAN format for a country before crafting a validation call.'
      tags:
      - Free
      security: []
      parameters:
      - name: country
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code (case-insensitive)
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
          example: CH
      responses:
        '200':
          description: IBAN structure template
          content:
            application/json:
              schema:
                type: object
                required:
                - country
                - iban_length
                - bban_length
                - sepa
                - cost_usdc
                properties:
                  country:
                    type: object
                    properties:
                      code:
                        type: string
                        example: CH
                      name:
                        type: string
                        example: Switzerland
                  iban_length:
                    type: integer
                    example: 21
                  bban_length:
                    type: integer
                    example: 17
                  bban:
                    type:
                    - object
                    - 'null'
                    description: BBAN field positions, 0-indexed within the BBAN. null when no structure is declared for the country. charset uses SWIFT registry notation (n=digits, a=uppercase letters, c=alphanumeric, e.g. "5!n").
                    properties:
                      bank_code:
                        type: object
                        properties:
                          start:
                            type: integer
                          length:
                            type: integer
                          charset:
                            type:
                            - string
                            - 'null'
                      branch_code:
                        type: object
                        properties:
                          start:
                            type: integer
                          length:
                            type: integer
                          charset:
                            type:
                            - string
                            - 'null'
                      account_number:
                        type: object
                        properties:
                          start:
                            type: integer
                          length:
                            type: integer
                          charset:
                            type:
                            - string
                            - 'null'
                  bban_pattern:
                    type:
                    - string
                    - 'null'
                    description: Full BBAN pattern in SWIFT IBAN Registry notation (e.g. "5!n12!c") — what /v1/iban/validate enforces structurally on top of length + mod-97.
                    example: 5!n12!c
                  sepa:
                    type: object
                    properties:
                      member:
                        type: boolean
                      schemes:
                        type: array
                        items:
                          type: string
                          enum:
                          - SCT
                          - SDD
                          - SCT_INST
                      vop_required:
                        type: boolean
                  example_iban:
                    type:
                    - string
                    - 'null'
                    example: CH9300762011623852957
                  example_iban_note:
                    type:
                    - string
                    - 'null'
                    description: 'Says what example_iban is: an illustration from the SWIFT IBAN Registry whose bank code is not guaranteed to be allocated. 36 of the 89 come back bank_code_check.status not_in_register, which is the example being fictional rather than a gap in our data. LV uses the literal ''BANK'', RO uses ''AAAA'', and the Swiss one is proven unallocated by the SIX BankMaster.'
                  notes:
                    type: string
                  upgrade_hint:
                    type: string
                  cost_usdc:
                    type: number
                    example: 0
        '400':
          description: Invalid country code (must be 2 letters), or literal {country} placeholder sent unsubstituted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Country not covered — see GET /v1/iban/structure for the full list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/feedback:
    post:
      operationId: submitFeedback
      summary: Report incorrect data or claim an x402 refund
      description: Free, no key and no payment. Report a wrong or stale answer, a missing entry, or a latency problem; passing the `tx_hash` of an x402 call is what turns a report into a refund claim. A human reads every report. Also exposed as the `send_feedback` MCP tool.
      tags:
      - Free
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_type:
                  type: string
                  enum:
                  - wrong_validation
                  - stale_bic
                  - missing_data
                  - incorrect_classification
                  - latency
                  - other
                  default: other
                  description: What kind of problem is being reported.
                endpoint:
                  type: string
                  description: The endpoint that answered wrongly, e.g. /v1/bic/UBSWCHZH80A
                tx_hash:
                  type: string
                  description: The x402 transaction hash, when claiming a refund.
                expected:
                  type: string
                  description: What the answer should have been.
                got:
                  type: string
                  description: What the answer actually was.
                notes:
                  type: string
                  description: Anything else that helps reproduce it.
                contact:
                  type: string
                  description: Where to reply, if a reply is wanted.
                agent:
                  type: string
                  description: The agent or client that found it.
              description: Provide at least one of endpoint, tx_hash or notes — a report with none of the three is refused with "insufficient_detail".
      responses:
        '201':
          description: Report recorded. Returns ok, id, status ("open") and next_steps.check_status pointing at GET /v1/feedback/{id}.
        '400':
          description: Refused before recording. "invalid_json", "invalid_request", "invalid_error_type" (see the enum) or "insufficient_detail".
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Request body exceeds 256 KB. Applied globally to every operation that takes a body, before routing and before payment, so nothing is charged. Split the input (batch validation accepts up to 100 IBANs per call).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: At most 20 reports per hour per source ("feedback_rate_limited").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/feedback/{id}:
    get:
      operationId: getFeedbackStatus
      summary: Check the status of a report
      description: 'Free, no key. Returns the minimal public view of one report: id, created_at, endpoint, error_type and status. The notes, expected and got fields stay private.'
      tags:
      - Free
      security: []
      parameters:
      - name: id
        in: path
        required: true
        description: The numeric id returned by POST /v1/feedback.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: id, created_at, endpoint, error_type, status
        '400':
          description: The id is not numeric ("invalid_id")
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: No report with that id ("not_found")
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/test-iban:
    get:
      operationId: getTestIban
      summary: Generate test IBANs with REAL bank codes
      description: 'Free. Generates structurally valid test IBANs whose bank codes are drawn from the national registers we serve (CH, DE, AT, BE, SK) — unlike the usual generators, whose checksum-valid IBANs carry arbitrary codes no register allocated. Account digits are random and belong to nobody. Each item ships with the proof: our own bank_code_check answer for that IBAN.'
      tags:
      - Free
      security: []
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
          enum:
          - CH
          - DE
          - AT
          - BE
          - SK
        description: Omit for a random supported country
      - name: count
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 10
          default: 1
      responses:
        '200':
          description: Generated test IBANs, each with its register proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  test_ibans:
                    type: array
                    items:
                      type: object
                      properties:
                        iban:
                          type: string
                        formatted:
                          type: string
                        country:
                          type: string
                        proof:
                          type: object
                        note:
                          type: string
                  disclaimer:
                    type: string
                  cost_usdc:
                    type: number
        '400':
          description: Unsupported country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/demo:
    get:
      operationId: getDemo
      summary: Free demo results
      description: 'Returns example results computed on the request: IBAN validations (the same validation as POST /v1/iban/validate), one compliance check (assembled like POST /v1/iban/compliance) and a summary of two BIC directory rows. No payment required, and readable with a plain GET: the official example IBANs of Switzerland, Belgium and Austria show the verdict of their national register on a bank code a checksum cannot judge. `served_at` dates the answer.'
      tags:
      - Free
      security: []
      responses:
        '200':
          description: Demo results
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  served_at:
                    type: string
                    format: date-time
                    description: When this answer was computed, ISO 8601 in UTC, to the second. Added on 24/09/2026, so that a copy of this page quoted later dates itself.
                  how_to_read:
                    type: string
                    description: How to read the verdict on the bank code, for a reader that cannot call the API itself.
                  iban_examples:
                    type: array
                    description: One validation result per example, computed on the request, each with a `label` that names the example (its bank, or its provenance for an official example IBAN).
                    items:
                      allOf:
                      - $ref: '#/components/schemas/IBANValidationResult'
                      - type: object
                        required:
                        - label
                        properties:
                          label:
                            type: string
                            description: 'Names the example: its bank, or its provenance for an official example IBAN.'
                  bic_examples:
                    type: array
                    description: A summary of the directory row of two BICs, not the full answer of GET /v1/bic/{code}.
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        bic:
                          type: string
                        bic8:
                          type: string
                        bic11:
                          type: string
                        found:
                          type: boolean
                        institution:
                          type:
                          - string
                          - 'null'
                        country:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type:
                              - string
                              - 'null'
                        city:
                          type:
                          - string
                          - 'null'
                        lei:
                          type:
                          - string
                          - 'null'
                        cost_usdc:
                          type: number
                          description: The list price of a BIC lookup; the demo itself is free.
                  compliance_example:
                    type: object
                    description: One compliance check, assembled like the answer of POST /v1/iban/compliance.
                    required:
                    - description
                    - endpoint
                    - cost
                    - result
                    properties:
                      description:
                        type: string
                      endpoint:
                        type: string
                        example: POST /v1/iban/compliance
                      cost:
                        type: string
                      result:
                        oneOf:
                        - allOf:
                          - $ref: '#/components/schemas/IBANValidationResult'
                          - type: object
                            required:
                            - compliance
                            - meta
                            properties:
                              compliance:
                                $ref: '#/components/schemas/ComplianceResult'
                              meta:
                                type: object
                                description: Provenance and scope of the verdict, as in POST /v1/iban/compliance.
                        - type: object
                          required:
                          - error
                          properties:
                            error:
                              type: string
                              example: Compliance data unavailable
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: 'Internal error. Safe to retry: this endpoint is read-only and changes nothing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns API health status, uptime, and basic statistics.
      tags:
      - Free
      security: []
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Rate limit exceeded. Applied globally by the server, so any operation can answer it. Honour the Retry-After header; see https://api.ibanforge.com/rate-limits.yml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: 'Internal error. Safe to retry: this endpoint is read-only and changes nothing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ComplianceResult:
      type: object
      required:
      - sanctions
      - reachability
      - vop
      - risk_score
      - risk_level
      - flags
      properties:
        sanctions:
          type: object
          properties:
            country_sanctioned:
              type: boolean
            bank_sanctioned:
              type: boolean
              description: 'False also when no bank was screened (bank_screened false): read institution_listed, which is null then.'
            matched_lists:
              type: array
              items:
                type: string
              example:
              - OFAC
            fatf_status:
              type: string
              enum:
              - member
              - grey_list
              - black_list
              - suspended
              - non_member
            bank_screened:
              type: boolean
              description: Whether a bank was screened at all. When false, bank_sanctioned and matched_lists carry no information.
            institution_listed:
              type:
              - boolean
              - 'null'
              description: 'Whether the payee''s BANK is on a sanctions list: bank_sanctioned when a bank was screened against every list this service names; null when no bank was screened, or when nothing matched while one of those lists is not loaded on this deployment. Never false without a screen.'
            payee_screened:
              type: boolean
              enum:
              - false
              description: 'Always false: the payee (the account holder) is never screened here, only the bank and the country.'
        reachability:
          type: object
          properties:
            sepa_instant:
              type: boolean
              description: Whether the bank supports SEPA Instant Credit Transfer
            sct:
              type: boolean
              description: SEPA Credit Transfer participant
            sdd:
              type: boolean
              description: SEPA Direct Debit participant
            screened:
              type: boolean
              description: 'False when the EPC scheme registers were not consulted: no bank resolved, or the registers are not loaded on this deployment. The three booleans above are then defaults, not findings, and carry no risk weight (flag sepa_register_unavailable when a bank was resolved). Outside the SEPA area the country answers instead of the registers: screened stays true.'
            listed_in_epc_registers:
              type:
              - boolean
              - 'null'
              description: 'Whether at least one of the three scheme registers lists the bank; null when the registers were not consulted (screened false). For a bank resolved in the SEPA area, true matches sepa.bank_reachability listed and false matches not_listed; null also when no bank was resolved or the bank code is not allocated (the validation then says no_bank or bank_code_not_allocated). Outside the SEPA area the validation carries no bank_reachability: this field is false there for a resolved bank (the country answers, screened true) and null when no bank was resolved.'
        vop:
          type: object
          properties:
            participant:
              type: boolean
              description: Whether the bank participates in Verification of Payee
            status:
              type: string
              enum:
              - active
              - pending
              - inactive
              - not_found
            screened:
              type: boolean
              description: 'False when the EPC VoP register was not consulted: no bank resolved, or the register is not loaded on this deployment. `status: not_found` then describes the absence of a query, not of a registration (flag vop_register_unavailable when a bank was resolved). Outside the SEPA area the country answers instead of the register: screened stays true.'
            register_status:
              type:
              - string
              - 'null'
              enum:
              - active
              - pending
              - inactive
              - not_listed
              - null
              description: 'status under its own name (not_found becomes not_listed); null when the register was not consulted (screened false). The bank''s status in the EPC Verification of Payee register: active (the same as vop_participant true), pending, inactive, or not_listed when the register has no row for it; null when no BIC resolved or the register was not consulted (screened false). Outside the SEPA area the country answers instead of the register (not_listed on POST /v1/iban/compliance) whether or not the register is loaded; the validation carries no sepa.vop_register_status there. It says whether the payee''s bank answers VoP requests; IBANforge never runs the name check itself.'
        risk_score:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 100
          description: 'Composite risk score (0 = no risk, 100 = critical). null when the IBAN did not validate: there was nothing to score.'
        risk_level:
          type: string
          enum:
          - low
          - medium
          - elevated
          - high
          - critical
          - unassessable
          description: 'unassessable means the IBAN itself failed validation, so no screening was possible. It is the absence of a verdict, never a favourable one: do not treat it as low.'
        flags:
          type: array
          items:
            type: string
          description: 'List of specific risk flags detected. bank_code_inferred carries no weight: the bank named is our inference from a source that does not settle the bank code (bank_code_holder inferred), and no score moves for it. Some flags carry no weight and name a check that did not happen: no_bank_resolved, sepa_register_unavailable, vop_register_unavailable, and sanctions_list_unavailable_<list> (one per named sanctions list not loaded on this deployment, for example sanctions_list_unavailable_un: the bank was screened against the other lists, so bank_sanctioned false says nothing about that one). sanctions_lists_unavailable (a bank was resolved but no sanctions list is loaded on this deployment) holds the score at 50 at least.'
          example:
          - fatf_grey_list
          - emi_issuer
          - no_vop
    IBANValidationResult:
      type: object
      required:
      - iban
      - valid
      - cost_usdc
      properties:
        trial:
          type: object
          description: 'Present ONLY on a call served by the keyless weekly trial: POST /v1/iban/validate with a real `iban` and no API key is served 25 times a week per source address (IPv6 counted per /64; ISO week in UTC, reset on Monday 00:00 UTC), with no payment. Says how many calls are left this week, when the count resets, and how to take a free key. Absent with a key, with an x402 payment, and on every other endpoint. Until 24 September 2026 the trial was daily and this block carried `calls_used_today`, `calls_left_today` and `daily_limit`; they were replaced, not kept, because they would have carried weekly counts under daily names.'
          required:
          - calls_used_this_week
          - calls_left_this_week
          - weekly_limit
          - resets
          - resets_at
          - free_key
          - docs
          properties:
            calls_used_this_week:
              type: integer
              example: 1
            calls_left_this_week:
              type: integer
              example: 24
            weekly_limit:
              type: integer
              example: 25
            resets:
              type: string
              example: Monday 00:00 UTC
            resets_at:
              type: string
              format: date-time
              description: 'Next Monday 00:00:00 UTC: the instant the weekly count goes back to zero.'
              example: '2026-09-28T00:00:00Z'
            free_key:
              type: string
              description: 'The request that ends the trial in your favour: a key that needs no email address, on every endpoint, 200 requests a month once claimed (25 a month before that).'
            docs:
              type: string
              format: uri
        attribution:
          type: object
          description: Free tier only. When these results are shown to people, display `text` with a link to `url`; backend-only use owes nothing. Absent on paid plans and on x402 calls.
          required:
          - required
          - text
          - url
          - note
          properties:
            required:
              type: boolean
              enum:
              - true
            text:
              type: string
              example: Powered by IBANforge
            url:
              type: string
              format: uri
            note:
              type: string
        iban:
          type: string
          description: The IBAN as provided (normalized)
        valid:
          type: boolean
          description: 'ISO 13616 only: structure and mod-97. It says nothing about the bank: read bank_code_holder and checks before a payment.'
        bank_code_holder:
          type: string
          enum:
          - confirmed
          - inferred
          - not_allocated
          - unknown
          description: 'Who holds the bank code. confirmed: a register that publishes holders names the holder of this code (a national register that settles the code space, or a partial register on a hit). inferred: we name a holder from a source that cannot settle it (our composite map, the prefix fallback, a published structural rule), so read it as our inference. not_allocated: the national register says nobody holds this code, so do not send. unknown: no conclusion. valid stays true in all four: it only means the IBAN is well formed. bank_code_check.status verified means resolved; this field says whether a source settles it. Present ONLY when valid is true and the bank code was read from the BBAN.'
        checks:
          type: object
          description: 'One status per check: pass (checked against a source that settles it), fail (checked, and wrong), inferred (answered from a source that does not settle it), unknown (attempted, no conclusion), not_checked (IBANforge does not make this check here), not_applicable (the check has no object for this IBAN). payee_name: never checked here; the name check is made by the payee''s bank through Verification of Payee (VoP), and sepa.vop_register_status says whether that bank answers VoP requests. account_exists: never checked here; only the payee''s bank knows whether the account is open. payee_sanctions: never checked; the sanctions screen of POST /v1/iban/compliance is made on the payee''s bank (BIC8) and country only. institution_sanctions and country_sanctions are filled by POST /v1/iban/compliance and not_checked on a validation. national_check_digits: the check key a country keeps inside the BBAN, a second check independent of mod-97. Checked for FR and MC (RIB key), BE (the last two digits, modulo 97), IT and SM (CIN) and ES (DC), with the proof in the national_check_digits block, and for GB (Vocalink modulus), with the proof in modulus_check; not_checked elsewhere (the German account-number methods are not checked yet). pass means the account number is well formed, never that the account exists; fail means it cannot have been issued as written, and valid stays true. A key may be added later; a key is never removed. Present only when valid is true.'
          required:
          - iban_structure
          - iban_checksum
          - bank_code
          - bic
          - sepa_reachability
          - national_check_digits
          - account_exists
          - payee_name
          - institution_sanctions
          - country_sanctions
          - payee_sanctions
          properties:
            iban_structure:
              type: string
              enum:
              - pass
            iban_checksum:
              type: string
              enum:
              - pass
            bank_code:
              type: string
              enum:
              - pass
              - fail
              - inferred
              - unknown
            bic:
              type: string
              enum:
              - pass
              - inferred
              - unknown
              - not_applicable
            sepa_reachability:
              type: string
              enum:
              - pass
              - fail
              - unknown
              - not_applicable
            national_check_digits:
              type: string
              enum:
              - pass
              - fail
              - not_applicable
              - not_checked
            account_exists:
              type: string
              enum:
              - not_checked
            payee_name:
              type: string
              enum:
              - not_checked
            institution_sanctions:
              type: string
              enum:
              - not_checked
              - pass
              - fail
              - unknown
            country_sanctions:
              type: string
              enum:
              - not_checked
              - pass
              - fail
              - unknown
            payee_sanctions:
              type: string
              enum:
              - not_checked
        national_check_digits:
          type: object
          description: 'The check key a country keeps inside the BBAN, recomputed from the IBAN alone. Present only on a valid IBAN of FR, MC, BE, IT, SM or ES (GB has modulus_check instead); absent elsewhere, where checks.national_check_digits is not_checked. country is the IBAN country. scheme names the algorithm: fr_rib_key (FR and MC: the RIB key, the last two digits of the BBAN, over the bank code, branch code and account number), be_mod97 (BE: the last two digits, the first ten digits modulo 97, or 97 when the remainder is 0), it_cin (IT and SM: the CIN, the control letter at the start of the BBAN, over the ABI, CAB and account number), es_dc (ES: the two DC digits, positions 9 and 10 of the BBAN). status: pass (the key matches, so the account number is well formed; it does not prove the account exists or is open) or fail (the key does not match: this account number cannot have been issued as written, a typo or a made-up number). A fail never makes valid false, because the IBAN check digits are right: read the two separately, and confirm the details with the beneficiary before paying. not_applicable is reserved for a BBAN without the national layout, which a valid IBAN never has. detail, present on fail and not_applicable only, says which digits disagree; it never gives the expected key. checks.national_check_digits repeats status.'
          required:
          - country
          - scheme
          - status
          properties:
            country:
              type: string
              example: FR
              description: 'The IBAN country: MC stays MC, SM stays SM. Today: FR, MC, BE, IT, SM, ES.'
            scheme:
              type: string
              example: fr_rib_key
              description: 'The algorithm applied, a stable snake_case name. Today: fr_rib_key, be_mod97, it_cin, es_dc.'
            status:
              type: string
              enum:
              - pass
              - fail
              - not_applicable
            detail:
              type: string
              description: 'Present on fail and not_applicable only: one sentence saying which digits disagree. It never gives the expected key.'
        country:
          type: object
          properties:
            code:
              type: string
              example: GB
            name:
              type: string
              example: United Kingdom
          required:
          - code
          - name
        check_digits:
          type: string
          example: '29'
        bban:
          type: object
          properties:
            bank_code:
              type: string
            branch_code:
              type: string
            account_number:
              type: string
          required:
          - bank_code
          - account_number
        bic:
          type:
          - object
          - 'null'
          properties:
            code:
              type: string
              example: UBSWCHZH56B
              description: 'The BIC as the consulted source publishes it: 8 or 11 characters. Do NOT compare a supplied BIC against this field — compare on bic8 and read the branch code separately.'
            bic8:
              type: string
              example: UBSWCHZH
              description: 'The eight characters of the institution, and the field to compare a supplied BIC against. The branch code (the last three characters of `code`) is informational: in a cooperative network it names the LOCAL bank while the first eight name its clearing institution, so an equality test on the full code turns a correct BIC into a mismatch.'
            redirected_from:
              type: string
              example: 04835
              description: 'The bank code you asked about, when the register answered for the one that took over its clearing. CH and LI only today: SIX marks an IID concatenated and publishes its successor. The IBAN stays valid and the account payable — a redirect is not a retirement.'
            bank_name:
              type:
              - string
              - 'null'
              description: Null, never an empty string, when no source names the institution.
            city:
              type:
              - string
              - 'null'
              description: Where the consulted register places THIS bank code. May differ from address.city, which is the legal seat — both true, different questions. Null, never an empty string, when the source leaves the town blank.
            source:
              type:
              - string
              - 'null'
              description: Which dataset named this institution.
            as_of:
              type:
              - string
              - 'null'
              description: Year-month that dataset was last refreshed. This dates the IMPORT, which for one source is not the date of the data — see source_as_of.
            source_as_of:
              type: string
              description: Year-month the source DATA is from, present ONLY when it differs from as_of. On a curated_map or directory_prefix answer it dates the directory row that supplied the name, the city, the LEI or the address when that row comes from a frozen public copy; never present on a national_register answer, whose name comes from the register and is dated by as_of. Absent means no gap has been established, never 'this is current'.
            listed_in_current_source:
              type:
              - boolean
              - 'null'
              description: 'Whether this BIC8 still appears in a list refreshed this cycle: GLEIF, the directory sources that carry no vintage, a national register, the EPC scheme registers. true when one of them carries it; null when it was not found in what could be read in full (never false by default). false is reserved for an index built from every list read in full, which is not the case today: the EBA STEP2 and NBP lists are only read through our deduplicated directory, so this field answers true or null. It does NOT prove the bank still exists under this name: a clearing list can keep the name of a bank that was absorbed.'
            basis:
              type: string
              enum:
              - national_register
              - curated_map
              - directory_prefix
              description: 'WHERE the bank code to BIC pairing came from, and therefore what may be done with the BIC. national_register: the country''s own register publishes this BIC for this bank code — today Germany, Austria, Belgium, Slovakia, Czech Republic, Bulgaria, Switzerland, Liechtenstein and San Marino; the SIX BankMaster carries the exact 11-character BIC per IID and the German Bankleitzahlendatei per BLZ. curated_map: our maintained bank-code map made the pairing on an exact key. Usually right, and not an allocation record. directory_prefix: the bic8 LIKE fallback, which can match several institutions at once — read bank_code_check.candidates. Answers the settlement question directly: only national_register is settlement-grade, so outside those registers a derived BIC is advisory and should be confirmed with the beneficiary or your bank before it becomes a stored routing instruction.'
            authoritative:
              type: boolean
              description: 'Whether this BIC may be stored and settled against. Derived from `basis` by a single table, so the two cannot disagree. NOT the same claim as bank_code_check.authoritative, which is about the BANK CODE — whether a national register was consulted about its existence. San Marino is where they part: the pairing is the supervisor''s, while the code space is not its to settle.'
            lei:
              type:
              - string
              - 'null'
              example: 851WYGNLUQLFZBSYGB56
              description: Legal Entity Identifier, read from the same directory row /v1/bic/:code serves. Null means GLEIF publishes no LEI for this BIC, never that the institution has none.
            lei_status:
              type:
              - string
              - 'null'
              example: ACTIVE
            address:
              type:
              - object
              - 'null'
              description: Registered / head-office address (GLEIF, CC0). Entity-level, not per-branch. Always dated by its own as_of, which is the entity last filing and is usually OLDER than the as_of above.
              properties:
                type:
                  type: string
                  enum:
                  - registered
                street:
                  type:
                  - string
                  - 'null'
                  example: Kaiserstraße 16
                post_code:
                  type:
                  - string
                  - 'null'
                  example: '60311'
                region:
                  type:
                  - string
                  - 'null'
                  example: DE-HE
                city:
                  type:
                  - string
                  - 'null'
                  example: Frankfurt am Main
                country:
                  type: string
                  example: DE
                romanized:
                  type:
                  - string
                  - 'null'
                romanization:
                  type: string
                  enum:
                  - original_latin
                  - gleif_english
                  - unavailable
                  description: unavailable means the entity filed a non-Latin address and GLEIF ships no official Latin form. No transliteration is invented.
                source:
                  type: string
                  example: GLEIF
                language:
                  type:
                  - string
                  - 'null'
                  example: de
                as_of:
                  type:
                  - string
                  - 'null'
                  example: '2026-02-24'
            postal_address:
              type: object
              description: The institution seat expressed as an ISO 20022 PostalAddress, for the November 2026 structured-address rules (SPS 2026 in force 14 Nov 2026, Fedwire production 16 Nov 2026, T2 R2026.NOV). Purely additive — the `address` block beside it is unchanged and keeps the full untruncated street. Present only when TwnNm and Ctry can both be filled; absent fields are absent, never guessed.
              properties:
                strt_nm:
                  type: string
                  description: StrtNm. Present ONLY when the source really separates street from number — in practice the SIX BankMaster register for Swiss and Liechtenstein institutions. Its absence means the source published one concatenated line (which is then served as adr_line), NOT that the institution has no street.
                bldg_nb:
                  type: string
                  description: BldgNb. Same condition as strt_nm — never split out of a joined line.
                pst_cd:
                  type: string
                  description: PstCd.
                twn_nm:
                  type: string
                  description: TwnNm. Mandatory in SPS and Fedwire; always present when this block is.
                ctry:
                  type: string
                  description: Ctry, ISO 3166-1 alpha-2.
                  example: CH
                adr_line:
                  type: array
                  items:
                    type: string
                    maxLength: 70
                  maxItems: 2
                  description: AdrLine, at most 2 lines of at most 70 characters, never repeating a value already served in a structured element above. A concatenated street line goes here rather than into strt_nm. Omitted rather than truncated when the line cannot fit in two lines — the full line stays in the `address` block.
                format:
                  type: string
                  enum:
                  - structured
                  - hybrid
                  description: 'structured: every element served has its own ISO 20022 element, no AdrLine. hybrid: structured elements plus at most two AdrLine. Derived from the block, so it cannot disagree with the fields it labels.'
                source:
                  type: string
                  description: 'The dataset this address came from, named as its publisher names it. It can differ from `address.source`: a Swiss institution is served from the SIX register while `address` stays GLEIF.'
                  example: SIX BankMaster (Swiss IID register)
                as_of:
                  type:
                  - string
                  - 'null'
                  description: When the SOURCE last stated this address (a SIX validity date, a GLEIF filing date). Null when the dataset publishes none — never a clock read, and never the date our database was refreshed.
              required:
              - twn_nm
              - ctry
              - format
              - source
              - as_of
          required:
          - code
          - bank_name
          - city
        formatted:
          type: string
          description: IBAN formatted in groups of 4
          example: GB29 NWBK 6016 1331 9268 19
        clearing:
          type:
          - object
          - 'null'
          description: Swiss clearing enrichment from the SIX BankMaster directory — present for CH and LI IBANs only, and included at no extra cost in the 0.005 USDC validation. Full rail participation, not just a name lookup.
          properties:
            iid:
              type: string
              description: Zero-padded 5-digit IID / BC-Nummer
              example: '00230'
            name:
              type: string
              example: UBS Switzerland AG
            type:
              type: string
              enum:
              - bank
              - cantonal_bank
              - postfinance
              - raiffeisen
              - central_bank
              - foreign_participant
            town:
              type: string
              example: Zürich
            sic:
              type: boolean
              description: SIC (Swiss Interbank Clearing) participation
            instant_payments_chf:
              type: boolean
              description: Instant Payments CHF participation
            eurosic:
              type: boolean
              description: euroSIC participation
            qr_iid:
              type:
              - string
              - 'null'
              description: QR-IID allocation for QR-bill reference, null when the institution has none
        error:
          type: string
          enum:
          - invalid_format
          - unsupported_country
          - wrong_length
          - invalid_check_digits
          - checksum_failed
          - invalid_bban_structure
          description: 'Present ONLY when `valid` is false, on an HTTP 200: an invalid IBAN is not an HTTP error. Absent on every successful validation.'
        error_detail:
          type: string
          description: Present ONLY when `error` is, and explains it in one sentence (e.g. "Modulo 97 check returned 28, expected 1.").
        reference_check:
          allOf:
          - $ref: '#/components/schemas/ReferenceCheckBlock'
          description: Present ONLY when the request carried a `reference` field.
        cost_usdc:
          type: number
          example: 0.005
        processing_ms:
          type: number
        sepa:
          type: object
          description: SEPA compliance details. Only present when the IBAN is valid and the country participates in SEPA.
          properties:
            member:
              type: boolean
              description: Whether the IBAN country is a SEPA member
            schemes:
              type: array
              description: 'SEPA schemes available for this account. When the resolved institution has rows in the EPC scheme registers these are ITS schemes (basis = "epc_register"); otherwise the country-level schemes (basis = "country_default"), even for a bank code nobody holds: for the bank itself, read bank_schemes and bank_reachability. SCT = Credit Transfer, SDD = Direct Debit, SCT_INST = Instant Credit Transfer.'
              items:
                type: string
                enum:
                - SCT
                - SDD
                - SCT_INST
            vop_required:
              type: boolean
              description: 'Whether Verification of Payee (VoP) is required under the EU Instant Payments Regulation in this COUNTRY. It says nothing about the bank: read vop_register_status for the payee''s bank.'
            vop_participant:
              type:
              - boolean
              - 'null'
              description: 'Bank-level VoP readiness: true when the resolved institution is listed as "ready" in the EPC Verification of Payee scheme register; false when it is not; null when no institution was resolved or when the VoP register is not loaded on this deployment (not consulted, which is not a "no"); a resolved bank outside the SEPA area is answered false from the country either way. Listing means the bank answers VoP requests — it does not run the name check for you. The same as vop_register_status === "active"; vop_register_status also says pending.'
            bank_reachability:
              type:
              - string
              - 'null'
              enum:
              - listed
              - not_listed
              - no_bank
              - bank_code_not_allocated
              - null
              description: 'Whether the EPC scheme registers list the resolved BANK, never borrowed from the country (member, schemes and basis still describe the country and are unchanged). listed: the bank has rows in the SCT, SCT Inst or SDD register. not_listed: it has none (an absence from the register is not an exclusion from the scheme). no_bank: no BIC resolved for this bank code, so no bank could be looked up in the EPC registers (a register may still name the holder: see bank_code_holder and bank_code_check). bank_code_not_allocated: the national register says nobody holds the bank code. null: the registers are not loaded on this deployment (not consulted, never read as not_listed). Absent outside SEPA.'
            bank_schemes:
              type:
              - array
              - 'null'
              items:
                type: string
                enum:
                - SCT
                - SDD
                - SCT_INST
              description: The bank's own schemes from the EPC registers when bank_reachability is listed; [] for a bank code nobody holds; null otherwise. Absent outside SEPA.
            vop_register_status:
              type:
              - string
              - 'null'
              enum:
              - active
              - pending
              - inactive
              - not_listed
              - null
              description: 'The bank''s status in the EPC Verification of Payee register: active (the same as vop_participant true), pending, inactive, or not_listed when the register has no row for it; null when no BIC resolved or the register was not consulted (screened false). Outside the SEPA area the country answers instead of the register (not_listed on POST /v1/iban/compliance) whether or not the register is loaded; the validation carries no sepa.vop_register_status there. It says whether the payee''s bank answers VoP requests; IBANforge never runs the name check itself. Absent outside SEPA.'
            basis:
              type: string
              enum:
              - country_default
              - epc_register
              description: 'Where `schemes` comes from: "epc_register" when the resolved BIC has rows in the embedded EPC scheme registers (bank grain), "country_default" otherwise. Absent when enrichment stopped early. Audit 2026-09-01 (DATA-02).'
          required:
          - member
          - schemes
          - vop_required
        issuer:
          type: object
          description: Issuer classification for the institution behind the IBAN. Useful for vIBAN detection and KYC enrichment. Present when the IBAN is valid and either the BIC resolved or an official register names the holder of the bank code (see psd_registration).
          properties:
            type:
              type:
              - string
              - 'null'
              enum:
              - bank
              - digital_bank
              - emi
              - payment_institution
              - null
              description: 'Type of financial institution (bank = traditional bank, digital_bank = neobank/challenger, emi = Electronic Money Institution, payment_institution = licensed PI). Null when we hold no support for a type: falling back to bank would be an assertion, and a payee pre-flight must not be handed one.'
            name:
              type: string
              description: Name of the institution holding this BIC
            classification:
              type: string
              enum:
              - curated
              - register
              - default
              description: Whether the type was established or assumed. curated = the BIC8 is in the issuer set, so this is an identification. register = an official register names the holder of this bank code and says what it is; also an identification, and one that carries a date and an issuing authority in the psd_registration block beside it. It only ever replaces a default, never a curated verdict. default = nothing is on file and 'bank' is the fallback, which covers 42,195 of 43,199 distinct BIC8 (97.7%, recounted 29/07/2026; the count drifts at every monthly refresh). When sizing exposure to virtual IBANs, count curated and register, never default.
            iban_issuer:
              type: string
              enum:
              - confirmed
              - not_listed
              description: 'Whether the country''s own list of IBAN-issuing providers names the holder of this bank code. Present only where such a list exists, today NL. confirmed = the identifier belongs to a provider that issues IBANs. not_listed = it resolves to a BIC, but the holder is not among the known issuers, so the account may not exist: measured 29/07/2026, only 90 of our 815 Dutch codes are on that list and the rest resolve to corporate treasuries that hold a Dutch BIC for their own SWIFT traffic. NOT a denial, because the Dutch list is explicitly not exhaustive, which is also why NL keeps bank_code_check.authoritative false.'
          required:
          - type
          - name
          - classification
        psd_registration:
          type: object
          description: 'The EBA''s PSD2 register of payment and electronic money institutions naming the holder of this bank code. Joined on country + national reference code, and served ONLY for countries where that code was measured to be the one the IBAN actually carries — today Spain alone. The register carries no BIC and no LEI, and in 29 of its 30 countries it files authorisations under a company or tax number from an unrelated register (a Polish NIP, a French SIREN, a Dutch DNB reference), so joining those to a bank code would attach a real institution''s authorisation to an unrelated bank. Absent on a miss: there is no negative form, because the register''s own disclaimer states that an institution omitted from it is authorised all the same.'
          properties:
            registered:
              type: boolean
              description: Always true. There is no negative form of this block.
            entity_type:
              type: string
              enum:
              - payment_institution
              - emi
              - aisp
              - exempted_emi
              - exempted_payment_institution
              description: The register's own category. emi = electronic money institution, payment_institution = authorised PI, aisp = account information service provider (reads accounts, issues nothing), exempted_emi / exempted_payment_institution = small operators waived FROM authorisation, which is not a licence. Only emi and payment_institution move issuer.type.
            name:
              type: string
              description: Institution name as the register publishes it.
            country:
              type: string
              description: ISO country of residence, as the register publishes it.
            competent_authority:
              type: string
              description: The national authority that filed the authorisation, e.g. 'ES_BE' for Banco de España.
            source:
              type: string
              description: Attribution required by the EBA legal notice ("Reproduction of all EBA material on this site is authorised, provided the source is acknowledged"). Always present.
            as_of:
              type: string
              description: Date of the golden copy this row came from (YYYY-MM-DD), read from the EBA manifest and never from a clock. Always present.
          required:
          - registered
          - entity_type
          - name
          - country
          - competent_authority
          - source
          - as_of
        risk_indicators:
          type: object
          description: AML/CFT risk indicators derived from the IBAN structure, issuer type, and country. Designed for compliance pre-screening and fraud prevention workflows. Only present when the IBAN is valid.
          properties:
            issuer_type:
              type:
              - string
              - 'null'
              enum:
              - bank
              - digital_bank
              - emi
              - payment_institution
              - null
              description: Type of the issuing institution (mirrors issuer.type for convenience). Null when the bank code resolved no institution — it used to default to "bank", which typed an institution that had not been found. Read bank_code_check to tell an unresolved code from a genuine bank.
            country_risk:
              type: string
              enum:
              - standard
              - elevated
              - high
              description: Country-level risk classification based on FATF grey/black lists and EU high-risk third countries
            test_bic:
              type: boolean
              description: Whether the resolved BIC is a test/sandbox code (position 8 = 0)
            sepa_reachable:
              type: boolean
              description: 'Whether SEPA Credit Transfers reach this COUNTRY. Derived from the country, not from the account: it stays true on an IBAN whose bank code resolved nothing. See sepa_reachable_scope.'
            sepa_reachable_scope:
              type: string
              enum:
              - country
              description: The scope sepa_reachable holds at. Present so the field cannot be read as an account-level assertion.
            vop_coverage:
              type: boolean
              description: 'The COUNTRY''s Verification of Payee obligation, identical to sepa.vop_required. It says nothing about the institution: for the payee''s bank, read sepa.vop_register_status.'
          required:
          - issuer_type
          - country_risk
          - test_bic
          - sepa_reachable
          - sepa_reachable_scope
          - vop_coverage
        bank_code_check:
          type: object
          description: Separate verdict on the BBAN bank code. `valid` answers ISO 13616 (structure + mod-97) and says nothing about whether the bank code identifies an institution; this field answers that, and states how much weight the answer carries. Present only when the IBAN is valid.
          properties:
            value:
              type: string
              description: 'The bank code that was actually checked. Normally identical to bban.bank_code. It differs in Finland, where the monetary institution code is 1 to 4 characters depending on its leading digits while bban.bank_code stays the fixed positional slice: a Nordea IBAN carries bban.bank_code "123" and value "1". When they differ, this field is the one the verdict is about.'
            status:
              type: string
              enum:
              - verified
              - not_in_register
              - unavailable
              description: 'verified: resolves to an institution we can name. It means RESOLVED, not confirmed: whether a source settles it is bank_code_holder (confirmed or inferred). not_in_register: it does not, in reference data we do hold for this country — actionable as non-existence ONLY when authoritative is true. unavailable: we hold no reference data for this country, so no opinion.'
            reason:
              type: string
              enum:
              - not_allocated
              - absent_from_reference_data
              - no_reference_data_for_country
              - register_names_no_holder
              - national_register_unavailable
              - lookup_failed
              description: 'WHY the verdict is not verified, as one token to branch on. Present on every not_in_register and every unavailable; absent on verified. not_allocated: a national register denies the code — the only value that licenses "do not send", and it appears only with authoritative true. absent_from_reference_data: our composite map does not carry it, which says nothing about the country''s own register because we did not consult one. no_reference_data_for_country: we hold nothing at all for this country. register_names_no_holder: the national register defines this code space and publishes no holder for it — silence, not a denial. national_register_unavailable: the country HAS a register we normally decide against and it could not be consulted for this call, so the verdict beside it comes from the composite map and carries composite weight. lookup_failed: the reference lookup could not run at all (timeout, unreadable database, missing table). The last two describe US, never your beneficiary: neither is evidence about the account, and neither may be escalated into a refusal.'
            match:
              type:
              - string
              - 'null'
              enum:
              - register
              - prefix
              - null
              description: 'register: an exact key in the reference set consulted, which may be our composite map rather than a national register (see register and authoritative), deterministic. prefix: the bic8 LIKE fallback, reachable only in the 30 countries whose bank code may open on a letter (a BIC8 always does) — check candidates.'
            register:
              type:
              - string
              - 'null'
              description: Name of the reference set consulted. For LV and GI it names a published structural rule instead — Latvijas Banka and the Gibraltar Financial Services Commission (Guidance Note 07) both publish that IBAN positions 5-8 ARE the first four characters of the institution's BIC. That is a documented rule rather than our own assembly, but it says how to READ the IBAN, not that the BIC it points at was allocated, so authoritative stays false.
            authoritative:
              type: boolean
              description: 'True only where that reference set is the national register: today DE against the Deutsche Bundesbank Bankleitzahlendatei, AT against the Oesterreichische Nationalbank SEPA-Zahlungsverkehrs-Verzeichnis, BE against the Banque nationale de Belgique bank identification codes, SK against the Národná banka Slovenska prevodník of identification codes for the domestic payment system, CZ against the Česká národní banka číselník of payment-system codes (Číselník kódů platebního styku), BG against the Bulgarian National Bank BAE register, and CH and LI against the SIX BankMaster. This is the flag to branch on: everywhere else an absence is evidence of absence from our data, not of non-existence. One asymmetry worth knowing: a Bulgarian BAE code covers IBAN positions 5-12 (bank code AND branch digits) while the verdict is made on the four-letter bank code alone, because the register does not enumerate every bank branch to one standard. The negative direction carries full weight in all eight. Four registers name holders WITHOUT settling a negative, so authoritative is false for them: a listed code names its holder (status verified, with institution) while an absence stays absent_from_reference_data and never becomes not_allocated. They are Finland, whose Finance Finland list is a transcription dated 2025-10 that nothing refreshes, and which allocates prefixes to banking groups rather than to institutions, so a Finnish verified confirms the group and its BIC rather than one specific bank; Italy, whose Banca d''Italia registers list the banks, payment institutions and e-money institutions it registers while Poste Italiane, the Banca d''Italia itself and branches of EU payment institutions hold ABI codes outside them; San Marino, whose Central Bank publishes its operating BANKS, not the allocation of the ABI code space; and Luxembourg, where the ABBL register of IBAN/BIC codes answers on deployments that load it. Italy also publishes the codes it has struck off: such a code comes back verified with retired true, retired_on and, where one exists, superseded_by, and authoritative stays false. It is never a refusal.'
            candidates:
              type: integer
              description: BIC8 the search matched. Present for match=prefix, and for the LV/GI structural rule when the published rule alone leaves more than one BIC8 standing. Greater than 1 means the returned BIC is one of several and may belong to a different institution than the account does.
            retired:
              type: boolean
              description: 'Present and true when a register says the code is leaving or has left: an authoritative register marking a code for deletion (DE, the code is still in its current file, authoritative true), or the Banca d''Italia''s history for a code it has already struck off (IT, authoritative false, with retired_on, and bank_code_holder inferred because nobody holds the code today). The code WAS allocated, so this is a verified result, not a denial. See superseded_by.'
            superseded_by:
              type: string
              description: 'The bank code that takes over, when the register names one. With authoritative true (DE), the successor code the register designates: re-paper the beneficiary against it. With authoritative false (IT), the LEGAL successor by merger or incorporation, followed to a code in force today: not necessarily the bank that now holds the account (a bank may have transferred branches to another bank before it was absorbed), so ask the beneficiary for their current details.'
            retired_on:
              type: string
              format: date
              description: 'Present only with retired, where the register dates it (Italy today): the last day the register lists this code for its last holder, which for a holder struck off the register is the cancellation date it publishes. How long an old IBAN stays reachable after that date is not published, so this is not a statement that payments fail.'
            institution:
              type: object
              description: 'What the national register publishes about the allocated institution. Present only where a register named the holder, which is not the same as an authoritative answer — composite-map hits stay bare (naming a BIC holder is the bic block, and its address would imply a register that was not consulted), while Finland, Italy, San Marino and Luxembourg carry this block with authoritative false because their registers name holders without settling a negative. On an Italian code the register has struck off (retired true), it is the LAST holder, name only. Depth varies by register: the OeNB (AT) and SIX (CH/LI) publish the full seat address, the Bundesbank (DE) publishes postal code and town only, the Banque nationale de Belgique (BE), the Národná banka Slovenska (SK), the Česká národní banka (CZ), the Bulgarian National Bank (BG) and the ABBL (LU) publish names alone, the Banca d''Italia (IT) and the Central Bank of the Republic of San Marino (SM) publish the registered office; for Finland the name is the banking group the code belongs to (Nordea Bank for code 1), not an individual institution. Names are served exactly as the register writes them, which for SK means Slovak diacritics, for CZ means Czech diacritics and for BG means Cyrillic — transliterating would be an alteration the terms of those publishers forbid. Absent fields are null, never guessed. This is the institution allocated the BANK CODE — not a branch, and not proof of any account.'
              properties:
                name:
                  type: string
                street:
                  type:
                  - string
                  - 'null'
                  description: One line, house number included, matching the GLEIF shape. Null where the register publishes none (DE, BE, SK, CZ, BG, LU).
                post_code:
                  type:
                  - string
                  - 'null'
                town:
                  type:
                  - string
                  - 'null'
                country:
                  type: string
                lei:
                  type:
                  - string
                  - 'null'
                  description: Legal Entity Identifier, where the register publishes one (the OeNB does, 99% of entries).
              required:
              - name
              - street
              - post_code
              - town
              - country
            check_digit:
              type: object
              description: 'Poland only. The eight-digit settlement number (numer rozliczeniowy) carries its own check digit under the NBP numbering ordinance; this block says whether the digits form a number NBP could have issued. valid false means a typo or a fabricated number, whatever the register verdict beside it says. valid true is a statement about form only: existence stays the question `status` answers, with its own `authoritative` flag.'
              properties:
                valid:
                  type: boolean
                algorithm:
                  type: string
                  description: The rule applied, named so it can be cited.
              required:
              - valid
              - algorithm
            as_of:
              type: string
              description: 'Year-month the consulted reference set was last refreshed. For the composite map it is the refresh month of the BIC directory behind it, not the date of the pairing: the map itself is a static file. Where the register publishes an effective date of its own it is that date, not ours: the Bulgarian BAE register is republished on request rather than on a calendar, and the Slovak prevodník and the Czech číselník are published as numbered editions carrying their own effective date, so dating any of them with our monthly refresh would misreport how current it is. The Czech National Bank publishes each edition ahead of its effective date: as_of is the effective date of the edition in force, never that of an edition announced but not yet in force. The Banca d''Italia dates each edition of its registers in the name of the published file, and as_of is that edition.'
          required:
          - value
          - status
          - match
          - register
          - authoritative
          - as_of
        official_identity:
          type: object
          description: 'Present ONLY when a central bank publishes the holder of the code we resolved: reached by LEI on any BIC lookup, and by the national bank code for FR and ES. Absent rather than negative on a miss, and never able to change `valid` or `bank_code_check` — the publishers relay codes, they do not allocate them.'
          properties:
            name:
              type: string
              description: The institution's name as the publisher writes it. May differ from `institution` / `bic.bank_name`, which come from the BIC directory — both are served so the two can be compared rather than one silently overwriting the other.
              example: Alpha Bank Example, S.A.
            lei:
              type:
              - string
              - 'null'
              description: Null where the publisher lists none, which is common for money market funds and branches.
            address:
              type:
              - string
              - 'null'
              description: One-line registered address as published. Null when the publisher gives none.
            category:
              type: string
              description: The publisher's classification.
              example: Credit Institution
            matched_by:
              type: string
              enum:
              - lei
              - national_code
              description: 'lei: joined on the LEI the resolved BIC row carries — exact, and unscoped by country because a legal identity does not change with which of an entity''s BICs was asked about. national_code: joined on the bank code the publisher itself publishes (FR five digits, ES four digits).'
            source:
              type: string
              description: The publisher, cited as both licences require.
              example: European Central Bank, list of monetary financial institutions (free at ecb.europa.eu)
            free_of_charge:
              type: string
              description: Both publishers require that buyers of a product incorporating their data be told, on EVERY access, that the information is available free of charge from the publisher's own website. This API is sold, so that notice ships inside every block rather than living on a documentation page.
            attribution:
              type: string
              description: The citation formula the Banco de España requires, reproduced verbatim. Spanish blocks only — the ECB asks to be cited as the source, which `source` does.
              example: Own elaboration based on data from the Banco de España website (www.bde.es)
            as_of:
              type: string
              format: date
              description: Date of the list this row came from, read from the published file and never from a clock. Both lists are republished every business day.
            authoritative:
              type: boolean
              enum:
              - false
              description: Always false. Both publishers relay; neither allocates bank codes, and the attribution of a code remains the national authority's. Read `bank_code_check.authoritative` for the verdict that can be branched on.
          required:
          - name
          - lei
          - address
          - category
          - matched_by
          - source
          - free_of_charge
          - as_of
          - authoritative
        modulus_check:
          type: object
          description: 'UK modulus check on the sorting code and account number a GB IBAN carries — present for GB only, and included at no extra cost in the 0.005 USDC validation. A second checksum, independent of mod-97: the IBAN check digits prove the string was transcribed correctly, this proves the pair is one the owning institution could have issued. A GB IBAN can pass mod-97 and still name an account no bank could have opened, which is what this catches before a payout. passed false NEVER makes the IBAN invalid — read valid and modulus_check.passed as two separate facts. Checksum only: it does not say the account exists, name its holder, or resolve a bank from a sort code.'
          properties:
            checked:
              type: boolean
              description: Whether the published table covers this sorting code. False means no check was possible, not a failed one — Vocalink instructs that such a pair be presumed valid.
            passed:
              type:
              - boolean
              - 'null'
              description: True when the pair satisfies the checksum for that sorting code, false when it cannot be a real account, null when checked is false.
            source:
              type: string
              example: Vocalink modulus weight table (published for Pay.UK)
            table_fetched_on:
              type: string
              format: date
              description: The day we fetched the reference table, so a stale server is visible. Not the day Vocalink published it, which is why it is not called as_of like the register dates elsewhere in this response.
              example: '2026-08-14'
          required:
          - checked
          - passed
          - source
          - table_fetched_on
        next_steps:
          type: array
          description: 'Ordered advice derived from THIS result: what blocks a payment first, what merely enriches it after. Branch on `code`, never on the prose. Absent or empty for an IBAN that failed validation, since the error already says what to do.'
          items:
            type: object
            properties:
              code:
                type: string
[...]
